<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	<div th:fragment="header">
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand text-danger" style="font-weight:bold" href="#" th:href="@{/}">Rotten
				Tomatillos</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<form th:action="@{/search}" method="get"
					class="form-inline mx-auto" role="search">
					<div class="input-group">
						<input type="text" class="form-control mr-sm-2"
							placeholder="Search by Title..." name="title">
						<div class="input-group-btn">
							<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
								<i class="glyphicon glyphicon-search">Search</i>
							</button>
						</div>

					</div>
				</form>

				<div th:switch="${user}">
					<div th:case="null">
						<button type="button" class="btn btn-outline-danger my-2my-lg-0"
							style="margin-right: 5px" onclick="location.href='/login'">
							Login</button>
						<button type="button" class="btn btn-outline-danger"
							onclick="location.href='/registration'">Register</button>
					</div>
					<div th:case="*">
						<div class="dropdown">
							<button class="btn btn-outline-danger dropdown-toggle"
								type="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false" th:text="${user.username}"></button>
							<div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">
								<form th:action="@{/profile}" method="GET">
									 <input class="dropdown-item btn-link text-danger" style="cursor:pointer" type="submit" name="profile" value="Profile" />
								</form>
								<form th:action="@{/logout}" method="post">
									 <input class="dropdown-item btn-link text-danger" type="submit" style="cursor:pointer" name="logout" value="Logout" />
								</form>
							</div>
						</div>

					</div>

				</div>
			</div>
		</nav>

	</div>
</body>
</html>