<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	
</head>
<body>
	<div th:fragment="userProfileMenu">
		<script type="text/javascript" src="../js/sideBarFunctions.js"></script>
		<div th:replace="fragments/navBar :: header"></div>
		<div id="container" th:action="@{/userProfile}" method="GET">
        <div id="leftside" class="menuHolder">
            <div class="headset">
               <img src="http://api.hdwallpapers5k.com/resource/fileuploads/photos/albums/1426/7d825902-ab1b-4338-aa2d-14201a68071d.jpg?quality=100&w=1000"
                class="headPortrait"/><br>
               <p class="d-flex justify-content-center" th:text="${user.username}" 
               	style="color: wheat; font-size: 20px; margin-bottom: 0px;">loginUser</p>
            </div>
            <ul class="leftMenu">
                <p></p>
                <a th:href="@{/profile}">
					<p class="useful">Profile</p></a>
                <a th:href="@{/profile+to+friendsAndRequests}">
                	<p class="useful">Friends</p></a>
                <a th:href="@{/profile}">
					<p class="useful">Prods</p></a>
                <a th:href="@{/profile+to+movielist}">
					<p class="useful">Movie List</p></a>
                <a th:href="@{/profile}">
					<p class="useful">Watch History</p></a>
                <a th:href="@{/profile}">
					<p class="useful">System Prods</p></a>
                <a th:href="@{/profile}">
					<p class="useful">Settings</p></a>
                <a th:href="@{/profile}">
					<p class="useful">Contact us</p></a>
            </ul>
        </div>
        </div>
	</div>



</body>
</html>