<!Doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
	<div th:fragment="profilePage">
		<div style="margin-left: 200px">
			<div class="container mt-3 wishList">
			<h2>Your Wish list</h2>
			<div class="rec row">
				<div class="col-md-2">
					<a th:href="@{/login}"> <img
						src="https://i.pinimg.com/736x/fd/5e/66/fd5e662dce1a3a8cd192a5952fa64f02--classic-poster-classic-movies-posters.jpg"
						style="width: 12vmax; height: 18vmax; padding: 5px;">
						<div class="mx-auto">Title1</div>
					</a>
				</div>

				<div class="col-md-2">
					<a th:href="@{/login}"> <img
						src="http://www.joblo.com/posters/images/full/Spiderman-poster-7-large.jpg"
						style="width: 12vmax; height: 18vmax; padding: 5px;">
						<p class="mx-auto">Title2</p>
					</a>
				</div>
				<div class="col-md-2">
					<a th:href="@{/login}"> <img
						src="http://img.moviepostershop.com/ghostbusters-movie-poster-2016-1020775586.jpg"
						style="width: 12vmax; height: 18vmax; padding: 5px;">
						<div class="mx-auto">Title3</div>
					</a>
				</div>
				<div class="col-md-2 row-md-5">
					<a th:href="@{/login}"> <img
						src="https://cdn.trendhunterstatic.com/thumbs/movie-poster-art.jpeg"
						style="width: 12vmax; height: 18vmax; padding: 5px;">
						<div class="mx-auto">Title4</div>
					</a>
				</div>
			</div>
			<hr class="bg-danger p-2">
		</div>
		<div class="container mt-3 wishList">
			<h2>Your Feed</h2>
				<div>Your reviews and ratings here</div>
			<hr class="bg-danger p-2">
		</div>
		</div>
	</div>

</body>




</html>