<!Doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" href="../css/profile.css">	
<head>
<noscript th:replace="fragments/quickAddCSSJS :: quickAddCSSJS"></noscript>
<script src="../../../js/admin.js"></script>

</head>

<body>
	<div th:replace="fragments/navBar :: header"></div>
	<div th:fragment="profilePage">
		<div style="margin-left: 200px">
			<div th:switch="${profileUser}">
				<div th:case="null"></div>
				<div th:case="*">
					<h1 id="profileUsername" th:text="${profileUser.username}"></h1>
					<span th:text="${profileUser.id}" id="profileUserId" class="d-none"></span>
					<div th:if="${user != null}">
					<button class="btn btn-primary" id="addFriendButton" name="addFriend">Add Friend</button>
						<form
							th:action="@{/view/{username}(username=${profileUser.username})}"
							method="POST" class="d-inline">
							<button class="btn btn-primary" type="submit" name="addFriend"
								value="Add Friend">Add Friend</button>
						</form>
						
						<form th:if="${user.role == 2 && profileUser.role != 2}" class="d-inline">
							<button id="ban-button" th:text="${profileUser.active == 1 ? 'Ban User' : 'Unban User'}"></button>
						</form>
					</div>

				</div>

			</div>
			<div class="container mt-3 wishList">
				<h2>Favorites</h2>
				<div class="rec row">
					<div th:each="movie : ${favorites}">
						<a th:href="@{/movie/{id}(id=${movie.theMovieDbID})}">
							<div class="col-md-2">
								<img th:src="${movie.poster}" style="height:200px"></img>
								<div th:text="${movie.title}"> </div>
								
							</div>
						</a>
					</div>
					<!-- else no users are found  -->
					<div th:unless="${not #lists.isEmpty(favorites)}">
						<div>No favorites have been added</div>
					</div>
				</div>
				<hr class="bg-danger p-2">
			</div>
		</div>
	</div>

</body>




</html>