<!Doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<noscript th:replace="fragments/quickAddCSSJS :: quickAddCSSJS"></noscript>
</head>

<body>
	<div th:replace="fragments/navBar :: header"></div>
	<div th:fragment="profilePage">
		<div style="margin-left: 200px">
			<div th:switch="${profileUser}">
				<div th:case="null">Current User!</div>
				<div th:case="*">
					<h1 th:text="${profileUser.username}"></h1>

					<div th:if="${user != null}">
						<form
							th:action="@{/view/{username}(username=${profileUser.username})}"
							method="POST">
							<button class="btn btn-primary" type="submit" name="addFriend"
								value="Add Friend">Add Friend</button>
						</form>
					</div>

				</div>

			</div>
			<div class="container mt-3 wishList">
				<h2>Favorites</h2>
				<div class="rec row">
					<div th:each="movie : ${favorites}">
						<a th:href="@{/movie/{title}(title=${movie.title})}">
							<div class="col-md-2">
								<div th:src="${movie.poster}"></div>
								<div th:text="${movie.title}"></div>
								
							</div>
						</a>
					</div>
					<!-- else no users are found  -->
					<div th:unless="${not #lists.isEmpty(favorites)}">
						<div>No favorites have been  added.</div>
					</div>
				</div>
				<hr class="bg-danger p-2">
			</div>
			<div class="container mt-3 wishList">
				<h2>Your Feed</h2>
				<div>Your reviews and ratings here</div>
				<hr class="bg-danger p-2">
			</div>
		</div>
	</div>

</body>




</html>