<!Doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
	<div th:fragment="movieListNavBar">
		<div th:replace="fragments/userProfile/profileMenu :: userProfileMenu"></div>
		<script type="text/javascript" src="../js/movieListMng.js"></script>
		<div class="movieManagerMenu" th:action="@{/profile+to+movielist}" method="GET">
            <div class="listCreator">
                <span><input id="newListName" class="listNameGetter" 
                type="text" 
                placeholder="Create movie list here..."/>
                <button id="movieCreateBtn" class="createBtn">Create</button></span>
            </div>
            
            <ul class="movieRepoList">
            	<div th:if="${not #lists.isEmpty(usermovielist)}" class="movieRepoList" id="movieListsItem">
            		<div th:each="list : ${usermovielist}" class="movielistItem" id="singleList">
            			<a th:href="@{/profile+to+movielist+{list}(list=${list})}">
            				<div>
            					<p class="repo" th:text="${list}"></p>
            					<button class="clean-movielist">clean</button>
            					<!-- Add on click here: function needs to be done -->
            					<button class="delete-movielist" th:onclick="'deleteList(\''+${list}+'\','+this+')'">delete</button>
            				</div>
            			</a>
            		</div>
            	</div>
            </ul>
        </div>
        <div class="movieListNameTitleBar">
            <p class="Movietitletxt">Movie List</p>
        <div class="MovieListContent"></div>
       </div>
       
       <div id="movielist-operator" class="movielist-operator">
       	<ul style="margin-top: 0px; margin-bottom:0px;">
    		<li id="clean-movie-list" class="clean-movie-list" th:onclick="'cleanMovieList()'">clean List</li>
    		<li id="remove-movie-list" class="remove-movie-list" th:onclick="'deleteMovieList()'">delete List</li>
    		<li id="add-movie-to-list" class="add-movie-to-list" style="display: none;">Add movie</li>
    	</ul>
       </div>
	</div>
</body>
</html>
