<!Doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
	<div th:fragment="movieListNavBar">
		<div th:replace="fragments/userProfile/profileMenu :: userProfileMenu"></div>
		<div class="movieManagerMenu" th:action="@{/profile+to+movielist}" method="GET">
            <div class="listCreator">
                <input class="listNameGetter" 
                type="text" 
                placeholder="Create movie list here..."/>
                <!--  <a class="createBtn" th:href="@{/profile+to+movielist}" >Create</a>-->
                <button class="createBtn" type="submit">Create</button>
            </div>
            
            <ul class="movieRepoList">
            <!-- Here to put the movie list names -->
            	<div th:if="${not #lists.isEmpty(usermovielist)}" class="movieRepoList">
            		<div th:each="list : ${usermovielist}">
            			<a th:href="@{/profile+to+movielist+{list}(list=${list})}"><p th:text="${list}"></p></a>
            		</div>
            	</div>
            </ul>
            <!--<ul class="movieRepoList">
    			<li>Default</li>
    			<li>Defaul2</li>
    		</ul>-->
        </div>
        <div class="movieListNameTitleBar">
            <p class="Movietitletxt">Movie List</p>
            	
        <div class="MovieListContent">
            <!-- Here to put the movies inside the movie list -->
            
            
            
            </div>
            
            
            
        </div>
	
	</div>

</body>




</html>