* {
		box-sizing: border-box;
    }
    .slider {
        width: 95%;
        margin: 0 auto;
    }
    .slick-slide {
    	margin: 0 2px;
	}
	/* the parent */
	.slick-list {
	    margin: 0 0;
	}
    .slick-prev:before, .slick-next:before { 
    	color:grey !important;
	}
	.poster {
		display: block;
    	width: 100%;
	}
	.movies-in-theaters-nav{
		width: 40%; 
	}
	.featured-movies{
		margin: auto;
		background-color: white;
    	width: 90%;
    	padding: 10px;
	}
	.credits{
		margin: auto;
    	width: 90%;
    	padding: 10px;
    	background: #696969;
	}
	.section-text {
		padding-bottom: 25px;
	}