 html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
 
 .movieListContainer {
        margin-left: 250px;
        height: 100%;
        position: fixed;
        overflow: scroll;
        overflow-x: hidden;
        clear: both;
    }
    
    .movielistItem {
    	border: solid;
    	border-width: thin;
    	border-color: black;
    	margin-bottom: 8px;
    	border-radius: 15px;
    	background: black;
    	cursor: pointer;
    	overflow:hidden;
    }
    
    .movielistItem:hover {
    	border-color:wheat;
    	background:wheat;
    	color:black;
    }
    
    .movielistItem:focus {
    	border-color:wheat;
    	background:wheat;
    	color:black;
    }
    .movieRepoList {
    	overflow:auto;
    	list-style-type: none;
    	height:580px;
    }
    .repo {
    	width: 200px; 
    	float: left;
    	color:#dc3545!important;
    	margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 1px;
        margin-left: 1px;
    }
    
    .clean-movielist {
    	margin-left: 120px;
    	border-radius: 4px;
    	display: inline-block;
    	border-width:thin;
    	border-color: oldlace;
    	background: oldlace;
    	color: black;
    	cursor: pointer;
    }
    
    .delete-movielist {
    	border-radius: 4px;
    	display: inline-block;
    	border-width: thin;
    	border-color: #dc3545!important;
    	background: #dc3545!important;
    	color: white;
    	cursor: pointer;
    	padding-right: 3px;
    	padding-left: 2px;
    }
    
   .movielist-operator {
   		display: none;
   		background: black;
		width: 100px;
		height:50px;
		color: white;
    	position: absolute;
    	margin-top: 0px;
    	top:0px;
  		z-index: 10;
  		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   
   .movielist-operator li {
   		color: white;
   		background: black;
   }
   
   .movielist-operator li:hover {
   		cursor: pointer;
   		color: black;
   		background: wheat;
   }
    

    .MovieListContent {
        margin-top: 55px;
        padding-left: 250px;
        clear: both;
    }
    
    .listNameGetter {
    	width: 170px;
    }
   

    .movieListNameTitleBar {
        background: black;
        margin-left:469px;
        color: white;
        height: 50px;
        width:800px;
        text-align: center;
        margin-bottom: 0px;
        border-style: solid;
      	border-width: thin;
        position: fixed;
        clear: both;
        z-index: 1;
        
    }

    .Movietitletxt {
        font-size: 30px;
        margin-top: 0px;
        z-index: -1;
        position: relative;
    }

    .listCreator {
        margin-top: 5px;
        margin-left: 5px;
        margin-right:5px;
        position: relative;
    }

    .movieManagerMenu {
        position: fixed;
        margin-top: 0px;
        height: 100%;
        margin-left: 210px;
        background: white;
        color: wheat;
        width: 240px;
    }

    .createBtn {
    	size: 53px;
        padding: 20px;
        text-align: center;
        margin-left: 0px;
        font-size: 16px;
        display: inline-block;
        cursor: pointer;
        border-color: black;
        border-width: thin;
        background-color: white;
        border-radius: 4px;
        padding: 2px;
    	color: black;
    }


    .createBtn:hover {
        background: black;
        color:white;
        font-weight: bold;
    }

    .movieRepoName {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 1px;
        margin-left: 1px;
        cursor: pointer;
    }

    .movieRepoName:hover {
        color:black;
        font-size: 20px;
    }

    ul {
      margin-top: 15px;
      list-style-type: none;
      padding-left: 0pt;
      height: 450px;
    }