 html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.prodlist-menu {
	margin-left: 180px;
    height: 100%;
    position: fixed;
    background: #1b1e21;
}

.friend-info-for-prod {
	height: 30px;
	margin-bottom: 3px;
	margin-left: 0px;
	cursor: pointer;
	border-bottom: solid;
	border-bottom-width: thin;
	border-color: black;
	margin-right: 5px;
	border-radius: 4px;
	color: wheat;
}


.friend-info-for-prod:hover {
	background: wheat;
	color: black;
}

.friend-search-bar {
	background: black;
	border-width: thin;
	color: wheat;
	border-style: solid;
	margin-top: 5px;
	margin-left: 15px;
	border-color: wheat;
	border-radius: 8px;
}

.search-friend-btn {
    border-radius: 4px;
    background:  transparent;
    color:  wheat;
    border-width:  thin;
    border-color:  wheat;
    margin-right:  5px;
    cursor: pointer;
}

.search-friend-btn:hover {
	background: wheat;
	color: black;
}





.username-search-tool {
	margin-top: 10px;
}

.friend-list {
	background-color: #1b1e21;
	margin-left: 0px;
	height: 80%;
    overflow: auto;
}

.friend-username{
	margin-bottom: 3px;
    margin-left: 35px;
    margin-top: 0px;
    bottom: 0px;
    border-top-width: 2px;
    background: transparent;
}

.friendList-div {
    margin-top: 15px;
    margin-left: 15px;
}


.user-headportrait {
	width: 30px;
	float: left;
}

.receiving {
	margin-left: 0px;
    margin-right: 0px;
    position: fixed;
    border: solid;
    border-radius: 20px;
    text-align: center;
    background: black;
    border-color: black;
    color:wheat;
    width: 170px;
    cursor: pointer;
}

.receiving:hover {
	background: wheat;
	color: black;
}


.proding {
	margin-left: 0px;
    margin-top: 0px;
    position: fixed;
    top: 58px;
    left: 800px;
    border: solid;
    border-radius: 20px;
    text-align: center;
    border-color: black;
    color:wheat;
    background: black;
    width: 170px;
    cursor: pointer;
}


.proding:hover {
	background: wheat;
	color: black;
}

/**This is th css for prod content navbar */

.prod-list-item-nav {
	margin-left:427px;
}

.prod-objective {
    text-align:  center;
    width:  900px;
    height: 50px;
    border: solid;
    border-width:  thin;
    background:  #212529;
	
}

.prod-object p {
	color: wheat;
	font-weight: bold;
	font-size:20px;
	margin-top:10px;
}

.get-all-overall {
	float:  left;
    width:  300px;
    width: 300px;
    float: left;
    text-align: center;
    color: wheat;
    height: 30px;
    background: #212529;
    border-top: currentColor;
    border-style: solid;
    border-width: thin;
    border-left: none;
    margin-bottom: 0px;
    cursor: pointer;
}

.get-all-overall:hover {
	background: wheat;
	color: black;
}


.get-All-sentOut {
    width: 300px;
    float: left;
    text-align: center;
    color: wheat;
    height: 30px;
    background: #212529;
    border-top: currentColor;
    border-style: solid;
    border-width: thin;
    border-left: none;
    margin-bottom: 0px;
    cursor: pointer;
}

.prod-object-content {
	color:wheat;
	font-size: 25px;
}


.get-All-sentOut:hover {
	color: black;
	background: wheat;
}


.get-All-received {
    text-align: center;
    width: 300px;
    margin-left: 600px;
    color: wheat;
    height: 30px;
    background: #212529;
    border-style: solid;
    border-width: thin;
    border-left: none;
    margin-bottom: 0px;
    cursor: pointer;
}


.get-All-received:hover {
	color: black;
	background: wheat;
}