 .menuHolder {
        height: 100%;
        width: 180px;
        overflow: hidden;
        float: left;
        position: fixed;
        margin-top: 0px;
    }

    .headset {
        background-color: black; 
        margin-left: 0px;
        width: 180px;
    }

    .subcontent {
        margin-left: 180px;
        margin-top: 50px;
        width:80%;
        height:80%;
    }
    

    .headPortrait {
        margin-left: 0px;
        width: 96.4%;
        height:140px;
        margin-bottom: 0px;
        border:3px solid wheat;
    }

    .leftMenu {
        list-style-type: none;
        padding: 0;
        background-color: black;
        /* opacity: 0.85; */
        margin-left: 0px;
        margin-top: 0px;
        width: 180px;
        height: 100%;
    }

    .leftMenu p.useful {
    	font-size: 15px;
        padding: 7px 10px;
    	color: wheat;
    	cursor: pointer;
        text-align: center;
        overflow: hidden;
        margin-bottom:10px;
        background: linear-gradient(to right, wheat 50%, black 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all 0.25s ease;
    }
    
    .movielistbtn {
    	background-color: Transparent;
    	border: none;
    	outline: none;
    	cursor: pointer;
    	color: red;
    	width: 180px;
    	length:20px;'
    }



    .leftMenu p {
        text-decoration: none;
    	font-size: 17px;
        padding: 7px 10px;
    	color: black;
    	display: block;
        text-align: center;
        margin: 0px;
        overflow: hidden;
    }



    .leftMenu p.useful:hover {
        background-size: 300% 100%;
        color: black;
        font-weight: bold;
        background-position: left bottom;
    }

    .leftMenu padding:focus {
        background: red;

    }