.movieRow {
	border-left: 6px solid #000000;
	border-bottom: 6px solid #000000;
    background-color: #e7e7e7;
    margin: 2px;
}

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 5px;
}

/** Images **/
img {
    width: 8%;
    height: 8%;
    transition: all .2s ease-in-out;
    padding: 2px;
}

.movieTitle {
	font-size: 175%;
	font-weight: bold;
}

