.movieListItems {
	margin-left:200px;
}

.item-poster {
	width: 200px;
	height: 260px;
	margin-top: 0px;
	border-radius: 8px;
	margin-left: 2px;
	margin-top: 2px;
	float: left;
}

.movie-items-except-poster {
	width: 580px;
	margin-left: 210px;
	margin-right: 0px;
	height: 265px;
}

.delete-movie-btn {
	size: 53px;
    padding: 20px;
    text-align: center;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 5px;
    width: 90px;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    border-color: black;
    border-width: thin;
    background-color: oldlace;
    border-radius: 4px;
    padding: 2px;
  	color: black;
}

.delete-movie-btn:hover {
	color: white;
	background-color: #dc3545!important;
}

.prod-movie {
	width: 90px;
    text-align: center;
    margin-left: 5px;
    margin-top: 5px;
    float:left;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    border-color: black;
    border-width: thin;
    background-color: oldlace;
    border-radius: 4px;
    padding: 2px;
  	color: black;
}

.friend-item-block {
	cursor: pointer;
	height:30px;
	margin-bottom:5px;
	margin-right:60px;
	border-radius:8px;
}

.friend-item-block:hover {
	background: wheat;
	text-decoration: underline;
}

.prod-movie:hover {
	color: oldlace;
	background-color: #4dd0e1;
}

.friendList-for-prod {
	display: none;
	position: fixed;
    margin-left: 600px;
    width:  500px;
    margin-top: 100px;
    border-radius:  10px;
    border-width:  thin;
    height: 500px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index:  10;
    background: white;
    opacity: 0.95;
	
}

.prod-to-friend-input-container {
    overflow: auto; 
    resize: vertical; 
    width:450px; 
    height:80px; 
    border-radius: 8px; 
    margin-left: 25px;
    margin-top: 0px;
    border: solid;
    border-width: thin;
}

.clean-prod-recipient {
    float: right;
    margin-top:  10px;
    margin-right: 10px;
}

.close-prodlist-window {
	float:  right;
    margin-right: 25px;
    margin-top: 10px;
}

.friend-Lists-wait-to-prod {
	margin-left: 20px; 
	height:300px; 
	overflow:auto;
	margin-top: 40px;
}

.prod-movie-name {
	margin-bottom: 0px;
    text-align:  center;
    font-weight:  bold;
    font-size:  20px;
}

.send-out-movie {
	float:  right;
    margin-top: 5px;
    margin-right: 25px;
}

.prod-to-all {
	margin-bottom: 5px;
	border-radius: 8px; 
	cursor:pointer;
	margin-right:60px;
	height:30px;
}

.prod-to-all:hover {
	background:wheat;
	text-decoration:underline;
}

.movielist-dropdown-menu {
	display: none;
	background: white;
	width: 132px;
	height:75px;
	color: black;
    position: absolute;
    margin-top: 0px;
    top:0px;
  	z-index: 10;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movielist-dropdown-menu li: {
	padding-left: 2px;
	border-bottom-style: solid;
    border-bottom-width: thin;
}

.movielist-dropdown-menu li:hover {
	background: black;
	color: white;
	cursor: pointer;
}


.poster-and-btn {
	height: 300px;
	width: 200px;	
}

.movieItems {
	margin-left:270px;
	margin-top:50px;
}

.movieItemAttr {
    background: #1b1e21;
    border-bottom-style: solid;
    border-bottom-width: thin;
    width:799px;
    height:300px;
    border-radius: 10px;
    color:white;
}



.movieItemAttr:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movieItemAttr p {
	margin-left: 1.5px;
}

.emptyMessage {
	font-size: 35;
	width:800px;
	margin-top:20px;
}

.movieItemAttr .itemTitle {
	font-size: 20px;
	font-weight: bold;
	color: wheat;
}


.movieItemAttr .itemTitle:hover {
	text-decoration: underline;
}
.movieItemAttr .itemReleased {
	position: relative;
	font-size: 12px;
	color: oldlace;
}


.movieItemAttr .itemActors {
	position: relative;
	font-size: 12px;
	color: oldlace;
}

.movieItemAttr .itemPlot {
	position: relative;
	font-size: 10px;
	color: oldlace;
}

