.movieListItems {
	margin-left:200px;
}


.movielist-dropdown-menu {
	display: none;
	background: white;
	width: 132px;
	height:75px;
	color: black;
    position: absolute;
    margin-top: 0px;
    top:0px;
  	z-index: 10;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movielist-dropdown-menu li: {
	padding-left: 2px;
	border-bottom-style: solid;
    border-bottom-width: thin;
}

.movielist-dropdown-menu li:hover {
	background: black;
	color: white;
	cursor: pointer;
}



.movieItems {
	margin-left:270px;
	margin-top:50px;
}

.movieItemAttr {
    background: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: thin;
    width:800px;
}

.movieItemAttr:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: wheat;
}

.movieItemAttr p {
	margin-left: 1.5px;
}

.emptyMessage {
	font-size: 35;
	width:800px;
	margin-top:20px;
}

.movieItemAttr .itemTitle {
	position: relative;
	font-size: 20px;
	font-weight: bold;
	color: black;
}


.movieItemAttr .itemTitle:hover {
	color: red;
}

.movieItemAttr .itemActors {
	position: relative;
	font-size: 12px;
}

.movieItemAttr .itemPlot {
	position: relative;
	font-size: 10px;
}

