<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<noscript th:replace="fragments/quickAddCSSJS :: quickAddCSSJS"></noscript>
	<link rel="stylesheet" href="../css/profile.css">
	<script src="../js/admin.js"></script>
	<title>Banned Users</title>
</head>
<body>
	<div th:replace="fragments/userProfile/profileMenu :: userProfileMenu"></div>

	<div class="container mt-3 showcase" id="banned">
		<h1>Banned Users</h1>
			<div th:each="user : ${banned}" class="border border-danger rounded p-3 row">
				<span th:text="${user.id}" class="d-none"></span>
				<h2 th:text="${user.username}" class="col-sm"></h1>
				<h2 class="btn btn-success col-3 unban-btn">Unban</h1>
			</div>
	</div>
</body>
</html>