<!DOCTYPE html>
<html lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<head>
	<style>
	</style>
	<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
	<title>Rotten Tomatillos Landing</title>
	</head>
	
	<body>
	<div class="your-class">
		<div><h3>1</h3></div>
		<div><h3>2</h3></div>
		<div><h3>3</h3></div>
		<div><h3>4</h3></div>
		<div><h3>5</h3></div>
		<div><h3>6</h3></div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>
	<script type="text/javascript" src="slick/slick.min.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function(){
			$('.your-class').slick({
				infinite: true,
				slidesToShow: 2,
				slidesToScroll: 1
			});
		});
	</script>
</body>
</html>
