<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
	<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
	
	
	<title>Rotten Tomatillos Landing</title>
</head>
<body> 
	<h1>Rotten Tomatillos</h1>
	<div id="root"></div>
	<script src="build/app.bundle.js"></script>

	
</body>
</html>
