<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<head>
	<title>Rotten Tomatillos</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../slick/slick.css" />
	<link rel="stylesheet" type="text/css" href="../slick/slick-theme.css" charset="UTF-8"/>
	<link rel="stylesheet" href="../css/index.css">
	<style type="text/css">
	
	</style>
	</head>
	
	<body>
	<noscript th:replace="fragments/quickAddCSSJS :: quickAddCSSJS"></noscript>
	<div th:replace="fragments/navBar :: header"></div>
	<div id="body" class="body bg-dark" style="display:none;" >
		<div class="slider movie-banner" th:if="${not #lists.isEmpty(popularMovies)}">
			<div th:each="movie : ${popularMovies}">
				<div><a th:href="@{/movie/{id}(id=${movie.theMovieDbID})}"><img class="poster" th:src="${movie.poster}"></a></div>
			</div>
		</div>
		<div class="section-text">
			<div class="featured-movies" th:if="${not #lists.isEmpty(moviesInTheater)}">
				<div class="row">
					<div class="col-sm-2 col-md-2 col-lg-2">
						<hr class="bg-danger p-2">
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<h3>Movies In Theaters</h3>
					</div>
					<div class="col-sm-7 col-md-7 col-lg-7">
						<hr class="bg-danger p-2">
					</div>
				</div>
				<div class="slider movies-in-theaters-info">
					<div th:each="movie : ${moviesInTheater}">
					<div class="row">
						<div class="col-sm-3 col-md-4 col-lg-3">
							<a th:href="@{/movie/{id}(id=${movie.theMovieDbID})}"><img th:src="${movie.poster}" class="poster"></a>
						</div>
						<div class="col-sm-3 col-md-4 col-lg-6">
							<div class= title-con>
								<a th:href="@{/movie/{id}(id=${movie.theMovieDbID})}"><b class= movie-title th:text="${movie.title}"></b></a>
							</div>
							<h3>Plot:</h3>
							<p th:text="${movie.plot}"></p>
							<div class="rating mt-1 m-0">
							<p class="m-0">
								Imdb Rating: <span th:text="${movie.imdbRating}"></span>
							<p class="m-0">Community Rating:
							</div>
						</div>
					</div>
					</div>
				</div>
				<div class="slider movies-in-theaters-nav movie-nav">
					<div th:each="movie : ${moviesInTheater}">
						<div>
							<img class="poster" th:src="${movie.poster}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 col-md-2 col-lg-2">
						<hr class="bg-danger p-2">
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<h3 class="sec-head">Popular Movies</h3>
					</div>
					<div class="col-sm-7 col-md-7 col-lg-7">
						<hr class="bg-danger p-2">
					</div>
				</div>
				<div class="slider movies-popular-info">
					<div th:each="movie : ${popularMovies}">
					<div class="row">
						<div class="col-sm-3 col-md-4 col-lg-3">
							<a th:href="@{/movie/{id}(id=${movie.theMovieDbID})}"><img th:src="${movie.poster}" class="poster"></a>
						</div>
						<div class="col-sm-3 col-md-4 col-lg-6">
							<div class= title-con>
								<a th:href="@{/movie/{id}(id=${movie.theMovieDbID})}"><b class= movie-title th:text="${movie.title}"></b></a>
							</div>
							<h3>Plot:</h3>
							<p th:text="${movie.plot}"></p>
							<div class="rating mt-1 m-0">
							<p class="m-0">
								Imdb Rating: <span th:text="${movie.imdbRating}"></span>
							<p class="m-0">Community Rating:
							</div>
						</div>
					</div>
					</div>
				</div>
				<div class="slider movies-popular-nav movie-nav">
					<div th:each="movie : ${popularMovies}">
						<div>
							<img class="poster" th:src="${movie.poster}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 col-md-2 col-lg-2">
						<hr class="bg-danger p-2">
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3">
						<h3>Movies Coming Soon</h3>
					</div>
					<div class="col-sm-7 col-md-7 col-lg-7">
						<hr class="bg-danger p-2">
					</div>
				</div>
				<div class="slider movies-coming-soon-info">
					<div th:each="movie : ${moviesComingSoon}">
					<div class="row">
						<div class="col-sm-3 col-md-4 col-lg-3">
							<a th:href="@{/movie/{id}(id=${movie.theMovieDbID})}"><img th:src="${movie.poster}" class="poster"></a>
						</div>
						<div class="col-sm-3 col-md-4 col-lg-6">
							<div class= title-con>
								<a th:href="@{/movie/{id}(id=${movie.theMovieDbID})}"><b class= movie-title th:text="${movie.title}"></b></a>
							</div>
							<h3>Plot:</h3>
							<p th:text="${movie.plot}"></p>
							<div class="rating mt-1 m-0">
							<p class="m-0">
								Imdb Rating: <span th:text="${movie.imdbRating}"></span>
							<p class="m-0">Community Rating:
							</div>
						</div>
					</div>
					</div>
				</div>
				<div class="slider movies-coming-soon-nav movie-nav">
					<div th:each="movie : ${moviesComingSoon}">
						<div>
							<img class="poster" th:src="${movie.poster}">
						</div>
					</div>
				</div>
			</div>
			<div class="credits">
				<div><h5>Data provided by</h5><a href="https://www.themoviedb.org">https://www.themoviedb.org</a></div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	
</body>
</html>
