<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<noscript th:replace="fragments/quickAddCSSJS :: quickAddCSSJS"></noscript>
	<link rel="stylesheet" href="../css/movieListMng.css">
	<link rel="stylesheet" href="../css/profile.css">
	<link rel="stylesheet" href="../css/userMovieListsItem.css">
	<script type="text/javascript" src="../js/movielistItem.js"></script>
	<title>Movie List Item</title>
</head>
<body> 

    <div th:replace="fragments/userProfile/userMovieListNavBar :: movieListNavBar"></div>
    
    <div id="movielist-dropdown-menu" class="movielist-dropdown-menu">
    	<ul style="margin-top: 0px; margin-bottom:0px;">
    		<li id="prod-this-to-friends" class="prod-this-to-friends">Prods to friend</li>
    		<li id="add-to-other-list" class="add-to-other-list">Add to other list</li>
    		<li id="delete-current-selected-item" class="delete-current-selected-item" th:onclick="'deleteMovie()'">Remove</li>
    	</ul>
    </div>
    
    <div class="movieListItems">
    	<ul>
    		<div th:if="${not #lists.isEmpty(currentMovies)}" class="movieItems">
    			<p id="currentMovieList" th:text="${currentMovielist}" style="display: none"></p>
            	<div th:each="movie : ${currentMovies}" class="movieItemAttr" id="singleMovie" 
            	th:oncontextmenu="'return showOpMenu(event);'">
            		<p id="singleMovieId" th:text="${movie.imdbID}" style="display: none"></p>
					<a th:href="@{/movie/{title}(title=${movie.title})}">
            			<p class="itemTitle" th:text="${movie.title}"></p>
            		</a>
            		Actors: <p class="itemActors" th:text="${movie.actors}"></p>
            		Plot: <p class="itemPlot" th:text="${movie.plot}"></p>
            	</div>
    		</div>
    		<div th:unless="${not #lists.isEmpty(currentMovies)}" class="movieItems">
				<div class="emptyMessage">
				Your list is empty. Add some movie into it.
				</div>
			</div>
   		</ul>
    </div>
    
</body>
</html>