<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Rotten Tomatillos Login Form</title>
	</head>
	<body>	
		<div class="container">
			<form th:action="@{/login}" method="POST">
				<h3>Login</h3>				 
				<input type="text" id="email" name="email"  th:placeholder="Email"/>
				
				<input type="password"  th:placeholder="Password"
					id="password" name="password"/> <br /> 
					
				<div align="center" th:if="${param.error}">
					<p>Email or Password invalid, please verify</p>
				</div>
				
				<button name="Submit" value="Login" type="Submit">Login</button>
			</form>
			
			<form th:action="@{/registration}" method="get">
				<button type="Submit">Register here!</button>
			</form>	
		</div>
	</body>
</html>
