<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<noscript th:replace="fragments/quickAddCSS :: quickAddCSS"></noscript>
<link rel="stylesheet" href="../css/movie.css">

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="../js/movie.js"></script>
<title th:text="${movie.title}"></title>


<style>
.flex-container {
	display: flex;
	flex-wrap: nowrap;
	background-color: DodgerBlue;
}

.flex-container>div {
	background-color: #f1f1f1;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}
</style>

</head>
<body>
	<div th:replace="fragments/navBar :: header"></div>
	<div class="p-3">
		<div class="container mt-3 showcase">
			<h1 th:text="${movie.title}" th:class="movie-title" id="movie-title"></h1>
			<hr class="bg-danger p-2">
			<div class="row">
				<div class="col-sm-3 col-md-4">
					<img
						src="http://www.joblo.com/posters/images/full/the-martian-poster.jpg"
						class="poster">
					<div class="rating mt-1 m-0">
						<p class="m-0">
							Imdb Rating: <span th:text="${movie.imdbRating}"></span>
						<p class="m-0">Community Rating:
						<p class="m-0">Your vote:</p>
						<fieldset class="rating m-0">
							<input type="radio" id="star5" value="5" /><label class="full"
								for="star5"></label> <input type="radio" id="star4half"
								value="4.5" /><label class="half" for="star4half"></label> <input
								type="radio" id="star4" value="4" /><label class="full"
								for="star4"></label> <input type="radio" id="star3half"
								value="3.5" /><label class="half" for="star3half"></label> <input
								type="radio" id="star3" value="3" /><label class="full"
								for="star3"></label> <input type="radio" id="star2half"
								value="2.5" /><label class="half" for="star2half"></label> <input
								type="radio" id="star2" value="2" /><label class="full"
								for="star2"></label> <input type="radio" id="star1half"
								value="1.5" /><label class="half" for="star1half"></label> <input
								type="radio" id="star1" value="1" /><label class="full"
								for="star1"></label> <input type="radio" id="starhalf"
								value="0.5" /><label class="half" for="starhalf"></label>
						</fieldset>
					</div>
				</div>

				<div class="col-sm-3 col-md-4">
					<h2>Plot:</h2>
					<p th:text="${movie.plot}"></p>
				</div>

				<div class="col-sm-3 col-md-4">
					<div>
						<b>Runtime: </b>
						<p th:text="${movie.runtime}"></p>
						<b>Country: </b>
						<p th:text="${movie.country}"></p>
						<b>Genre: </b>
						<p th:text="${movie.genre}"></p>
						<b>Release Date:</b>
						<p th:text="${movie.released}"></p>
						<b>Director(s): </b>
						<p th:text="${movie.director}"></p>
						<b>Actor(s): </b>
						<p th:text="${movie.actors}"></p>
					</div>

					<button class="btn btn-primary">Find in Theaters</button>
					<button class="btn btn-secondary">Share with a Friend</button>

					<select class="mt-3">
						<option>Watch List</option>
						<option>Favorites</option>
						<option>Adventure</option>
					</select>
					<button class="btn btn-primary">Add</button>
					<button type="button" class="btn btn-danger">Remove</button>
				</div>
			</div>
			<hr class="bg-danger p-2">
		</div>
		<div class="container mt-3 rec">
			<h2>Viewers also liked</h2>
			<div>
				<img
					src="https://i.pinimg.com/736x/fd/5e/66/fd5e662dce1a3a8cd192a5952fa64f02--classic-poster-classic-movies-posters.jpg"
					style="width: 15%; height: 15%; padding: 5px;"> <img
					src="http://www.joblo.com/posters/images/full/Spiderman-poster-7-large.jpg"
					style="width: 15%; height: 15%; padding: 5px;"> <img
					src="http://img.moviepostershop.com/ghostbusters-movie-poster-2016-1020775586.jpg"
					style="width: 15%; height: 15%; padding: 5px;"> <img
					src="https://cdn.trendhunterstatic.com/thumbs/movie-poster-art.jpeg"
					style="width: 15%; height: 15%; padding: 5px;">
				<hr class="bg-danger p-2">
			</div>
		</div>
		<div class="container mt-3 rec">
			<h1>REVIEWS</h1>
			<h1 th:text="${movie.imdbID}" class="hidden" id="imdbID"
				style="display: none;"></h1>
			<input type="hidden" id="imdbID2" value="${movie.imdbID}" />
			<textarea th:class="form-control" rows="5" id="review-box"
				form="writeReview">Write your review here...</textarea>
			<input type="submit" class="review-button" id="writeReview">
			<hr class="bg-danger p-2">
		</div>
		<div class="container mt-3 wishList">
			<h2>Your Wish list</h2>
			<div class="rec row">
				<div class="col-md-2">
					<a th:href="@{/login}"> <img
						src="https://i.pinimg.com/736x/fd/5e/66/fd5e662dce1a3a8cd192a5952fa64f02--classic-poster-classic-movies-posters.jpg"
						style="width: 12vmax; height: 18vmax; padding: 5px;">
						<div class="mx-auto">Title1</div>
					</a>
				</div>

				<div class="col-md-2">
					<a th:href="@{/login}"> <img
						src="http://www.joblo.com/posters/images/full/Spiderman-poster-7-large.jpg"
						style="width: 12vmax; height: 18vmax; padding: 5px;">
						<p class="mx-auto">Title2</p>
					</a>
				</div>
				<div class="col-md-2">
					<a th:href="@{/login}"> <img
						src="http://img.moviepostershop.com/ghostbusters-movie-poster-2016-1020775586.jpg"
						style="width: 12vmax; height: 18vmax; padding: 5px;">
						<div class="mx-auto">Title3</div>
					</a>
				</div>
				<div class="col-md-2 row-md-5">
					<a th:href="@{/login}"> <img
						src="https://cdn.trendhunterstatic.com/thumbs/movie-poster-art.jpeg"
						style="width: 12vmax; height: 18vmax; padding: 5px;">
						<div class="mx-auto">Title4</div>
					</a>
				</div>
			</div>
		</div>
</body>
</html>
