<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<noscript th:replace="fragments/quickAddCSSJS :: quickAddCSSJS"></noscript>
<link rel="stylesheet" href="../css/movie.css">
<script src="../js/movie.js"></script>
<title th:text="${movie.title}"></title>

</head>
<body>
	<div th:replace="fragments/navBar :: header"></div>
	<div class="p-3">
		<div class="container mt-3 showcase">
			<h1 th:text="${movie.title}" th:class="movie-title" id="movie-title"></h1>
			<hr class="bg-danger p-2">
			<div class="row">
				<div class="col-sm-3 col-md-4">
					<img th:src="${movie.poster}" class="poster">
					<div class="rating mt-1 m-0">
						<p class="m-0">
							Imdb Rating: <span th:text="${movie.imdbRating}"></span>
						<p class="m-0">Community Rating:
						<div th:switch="${user}">
							<div th:case="null"></div>
							<div th:case="*">
								<p class="m-0">Your vote:</p>
								<h1 th:text="${rating}" class="d-none" id="currentRating"></h1>
								<fieldset class="rating m-0">
									<input type="radio" id="rate1" value="1" /><label for="rate1"></label>
									<input type="radio" id="rate2" value="2" /><label for="rate2"></label>
									<input type="radio" id="rate3" value="3" /><label for="rate3"></label>
									<input type="radio" id="rate4" value="4" /><label for="rate4"></label>
									<input type="radio" id="rate5" value="5" /><label for="rate5"></label>
									<input type="radio" id="rate6" value="6" /><label for="rate6"></label>
									<input type="radio" id="rate7" value="7" /><label for="rate7"></label>
									<input type="radio" id="rate8" value="8" /><label for="rate8"></label>
									<input type="radio" id="rate9" value="9" /><label for="rate9"></label>
									<input type="radio" id="rate10" value="10" /><label
										for="rate10"></label>
								</fieldset>
							</div>
						</div>

					</div>
				</div>

				<div class="col-sm-3 col-md-4">
					<h2>Plot:</h2>
					<p th:text="${movie.plot}"></p>
				</div>

				<div class="col-sm-3 col-md-4">
					<div>
						<b>Runtime: </b>
						<p th:text="${movie.runtime}"></p>
						<b>Country: </b>
						<p th:text="${movie.country}"></p>
						<b>Genre: </b>
						<p th:text="${movie.genre}"></p>
						<b>Release Date:</b>
						<p th:text="${movie.released}"></p>
						<b>Director(s): </b>
						<p th:text="${movie.director}"></p>
						<b>Actor(s): </b>
						<p th:text="${movie.actors}"></p>
					</div>

					<button class="btn btn-primary">Find in Theaters</button>
					<span th:switch="${user}"> <span th:case="null"></span> <span
						th:case="*">
							<button class="btn btn-secondary">Share with a Friend</button> <!-- Get User's movie list and shown as dropdown list -->
							<div>
								<select th:if="${not #lists.isEmpty(userMVlist)}" id="listOpt"
									class="mt-3">
									<div th:each="listName : ${userMVlist}">
										<option><p th:text="${listName}"></p>
										</option>
									</div>
								</select>
								<button id="addToList" class="btn btn-primary">Add</button>
								<button type="button" class="btn btn-danger">Remove</button>
							</div>
					</span>
					</span>


				</div>
			</div>
			<hr class="bg-danger p-2">
		</div>
	</div>
	<div class="container mt-3 rec">
		<h2>Viewers also liked</h2>
		<div>
			<img
				src="https://i.pinimg.com/736x/fd/5e/66/fd5e662dce1a3a8cd192a5952fa64f02--classic-poster-classic-movies-posters.jpg"
				style="width: 15%; height: 15%; padding: 5px;"> <img
				src="http://www.joblo.com/posters/images/full/Spiderman-poster-7-large.jpg"
				style="width: 15%; height: 15%; padding: 5px;"> <img
				src="http://img.moviepostershop.com/ghostbusters-movie-poster-2016-1020775586.jpg"
				style="width: 15%; height: 15%; padding: 5px;"> <img
				src="https://cdn.trendhunterstatic.com/thumbs/movie-poster-art.jpeg"
				style="width: 15%; height: 15%; padding: 5px;">
			<hr class="bg-danger p-2">
		</div>
	</div>
	<div class="container mt-3 rec" id="reviews">
		<h1>REVIEWS</h1>

		<div th:switch="${user}">
			<div th:case="null"></div>
			<div th:case="*">
				<h1 th:text="${movie.imdbID}" class="hidden" id="imdbID"
					style="display: none;"></h1>
				<h1 th:text="${userId}" class="hidden" id="userID"
					style="display: none;"></h1>
				<textarea th:class="form-control" rows="5" id="review-box"
					form="writeReview" placeholder="Write your review here..."></textarea>
				<input type="submit" class="review-button btn-primary"
					style="margin-bottom: 10px" id="writeReview">
			</div>
		</div>

		<div th:each="review : ${reviews}">
			<div class="container shadow row" style="margin-bottom: 10px">
				<div class="col-md-4">
					<div th:text="${review.username}" class="movieTitle"></div>
				</div>
				<div class="col-md-2">
					<div style="margin: 2px;">
						<div th:text="${review.review}"></div>
					</div>
				</div>
				
				<div th:if="${user.role == 2 || user.id.toString() == review.user_id}" class="col-md-3">
					<span th:text="${review.user_id}" class="d-none"></span>
					<button class="btn btn-danger remove-review">Remove</button>
				</div>
			</div>
		</div>
		<!-- else no users are found  -->
		<div th:unless="${not #lists.isEmpty(reviews)}">
			<div>No users match this title. Please try again.</div>
		</div>

	</div>

</body>
</html>