<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<noscript th:replace="fragments/quickAddCSSJS :: quickAddCSSJS"></noscript>
	<link rel="stylesheet" href="../css/profile.css">
	<link rel="stylesheet" href="../css/prodListNav.css">
	<link rel="stylesheet" href="../css/prodContent.css">
	<title>User ProdList</title>
</head>
<body> 
    <div th:replace="fragments/userProfile/prodContentNav :: prodContentNavBar"></div>
    
    
</body>
</html>
