<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale 1.0">
		
		<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<title>Search Results</title>
	</head>
	<body>
		<div th:if="${not #lists.isEmpty(movie)}">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Title</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="movie : ${movie}">
						<td>hello</td>
						<td th:text="${movie.title}"></td>
					</tr>
				</tbody>
			
			</table>
		</div>
	</body>
</html>