<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<noscript th:replace="fragments/quickAddCSSJS :: quickAddCSSJS"></noscript>
<link rel="stylesheet" href="css/searchResult.css">
<title>Search Results</title>
</head>
<body>
	<div th:replace="fragments/navBar :: header"></div>
	<div class="container mt-3 showcase">
		<!-- If movie title found -->
		<h1>Movies</h1>
		<div th:if="${not #lists.isEmpty(movie)}">
			<div th:each="movie : ${movie}">
				<a th:href="@{/movie/{title}(title=${movie.title})}">
					<div class="container shadow row">
					<img class="col-md-4"
					th:src="${movie.poster}"
					class="poster">
					<div class="col-md-4">
			
						<div th:text="${movie.title}" class="movieTitle"></div>
						<div th:text="${movie.actors}"></div>
					</div>
					<div class="col-md-2">
						<b>Release Date: </b>
						<div th:text="${movie.Released}"></div>
						<b>IMDB Rating: </b>
						<div th:text="${movie.ImdbRating}"></div>
					</div>
					<div class="col-md-2">
						<div style="margin: 2px;">
							<button class="btn">Add to Watchlist</button>
						</div>
						<button class="btn btn-primary">Prod to a Friend</button>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div th:unless="${not #lists.isEmpty(movie)}">
			<div>No movies match this title. Please try again.</div>
		</div>
		<h1>Users</h1>
			<div th:each="user : ${users}">
				<a th:href="@{/view/{username}(username=${user.username})}">
					<div class="container shadow row">
					<img class="col-md-4"
					src="http://www.joblo.com/posters/images/full/the-martian-poster.jpg"
					class="poster">
					<div class="col-md-4">
			
						<div th:text="${user.username}" class="movieTitle"></div>
						<div th:text="${user.firstName}"></div>
					</div>
					<div class="col-md-2">
						<div style="margin: 2px;">
							<button class="btn btn-primary">Add Friend</button>
						</div>
					</div>
				</div>
				</a>
			</div>
		<!-- else no users are found  -->
		<div th:unless="${not #lists.isEmpty(users)}">
			<div>No users match this title. Please try again.</div>
		</div>
	</div>
</body>
</html>