<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<noscript th:replace="fragments/quickAddCSSJS :: quickAddCSSJS"></noscript>
<link rel="stylesheet" href="../css/profile.css">
<title>User profile</title>
</head>
<body>
	<div th:replace="fragments/userProfile/profileMenu :: userProfileMenu"></div>
	<div class="container mt-3 recommended">
		<h2>Here are movies we recommend you...</h2>
		<div class="rec row">
			<div th:each="movie : ${recommend}">
				<a th:href="@{/movie/{id}(id=${movie.theMovieDbID})}">
					<div class="col-md-2">
						<img th:src="${movie.poster}" style="height:200px"></img>
						<div th:text="${movie.title}"></div>

					</div>
				</a>
			</div>
			<div th:unless="${not #lists.isEmpty(recommend)}">
				<div>We can't give you recommendations :( get recommendations by rating movies</div>
			</div>
		</div>
		<hr class="bg-danger p-2">
	</div>
</body>
</html>
