<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="css/profile.css">
	
	<title>User profile</title>
</head>
<body> 
	<div th:replace="fragments/header/navBar :: header"></div>
		<div id="container" th:action="@{/userProfile}" method="GET">
        <div id="leftside" class="menuHolder">
            <div class="headset">
               <img src="http://api.hdwallpapers5k.com/resource/fileuploads/photos/albums/1426/7d825902-ab1b-4338-aa2d-14201a68071d.jpg?quality=100&w=1000"
                class="headPortrait"/><br>
               <p th:text="${username}" 
               	style="color: wheat; font-size: 15px; margin-bottom: 0px;">loginUser</p>
            </div>
            <ul class="leftMenu">
                <p></p>
                <p class="useful">General</p>
                <p class="useful">Privacy</p>
                <p class="useful">Friends</p>
                <p class="useful">Prods</p>
                <p class="useful">Movie List</p>
                <p class="useful">Watch History</p>
                <p class="useful">System Prods</p>
                <p class="useful">Settings</p>
                <p class="useful">Contact us</p>
            </ul>
        </div>
    </div>
	
	
	
	 
	
</body>
</html>
