<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	
	<title>Profile</title>
</head>
<body> 
	<div th:replace="fragments/header/navBar :: header"></div>
	<div class="container">
		<p th:text="${username}">Test</p>
		<form th:action="@{/logout}" method="post">
		    <div>
				<button type="submit">Logout</button>
		    </div> 	
		</form>
	</div>
	
	
	 
	
</body>
</html>
